<h1>New Video</h1>
<form action="/vid/add" method="post">

  <label for="name">Video name</label>
  <input name="name" type="text"/>
  <br/><label for="url">Video url</label>
  <input name="url" type="text"/>
  <br/>
  <label for="vid">Video id</label>
  <input name="vid" type="text"/>
  <br/>

  <input type="submit"/>
</form>